body {
    font-family: 'Courier New', monospace;
}

.card-holder {
    display: flex;
    justify-content: space-around;
}

.card {
    border: 1px black solid;
    padding: 10px;
    flex-basis: 30%;
}