/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body, button {
    font-family: 'Helvetica Neue', Sans-Serif;
    /* font-family: 'Roboto', sans-serif; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
}

@media(min-width:768px) { /* Anything above this breakpoint will have this */
    .card-holder {
        display: flex;
        justify-content: flex-start;
        flex-flow: wrap;
        align-content: flex-start;
    }
}

.card {
    border: 1px black solid;
    padding: 10px;
    margin: 10px;
    flex-basis: 30%;
    border-radius: 10px;
}

#new {
    padding: 10px;
    border-radius: 10px;
    /* flex-basis: 100%; */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input[type=text], input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#status {
    margin: 8px 0;
}
  
input[id=add] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[id=add]:hover {
    background-color: #45a049;
}